Repository Hikers-for-life/Hiking-Logbook: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: nearest
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 1%
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  frontend:
    paths:
      - frontend/src
  backend:
    paths:
      - backend/src

feat: standardize distance to km, add GPS auto-tracking, fix accomplishments display, and update API docs
  backend/src/config/database.js
  backend/src/models/logbookSchema.js
  backend/src/tests/logbook-schema.test.js
  docs/product/external_api_documentation.md
  frontend/src/components/ActiveHike.jsx
  frontend/src/components/ActiveHikeStatus.jsx
  frontend/src/components/ui/profile-view.jsx
  frontend/src/components/ui/view-friend-profile.jsx
  frontend/src/pages/Achievements.jsx
  frontend/src/pages/Friends.jsx
  frontend/src/pages/Logbook.jsx
  frontend/src/services/friendService.js
  frontend/src/tests/ActiveHike.test.js
  frontend/src/tests/ActiveHikeStatus.test.js
  frontend/src/tests/friendService.test.js
Due: frontend, backend

fix: package-loc.json to have the updated dependencies
  frontend/package-lock.json
Due: none

docs: clarify public API unique value proposition
  docs/public_api_documentation.md
Due: none

Restructure documentation architecture for marking rubric compliance
  backend/src/config/swagger.js
  backend/src/server.js
  docs/README.md
  docs/process/development/api_setup.md
  docs/process/development/contributing.md
  docs/process/development/database_setup.md
  docs/process/development/deployment.md
  docs/process/development/running_locally.md
  docs/process/development/site_setup.md
  docs/process/technology.md
  docs/process/third_party.md
  docs/product/architecture/api_documentation.md
  docs/product/architecture/api_specifications.md
  docs/product/architecture/database_documentation.md
  docs/product/architecture/database_schema.md
  docs/product/architecture/developer_guides/api_setup.md
  docs/product/architecture/developer_guides/database_setup.md
  docs/product/architecture/developer_guides/deployment.md
  docs/product/architecture/developer_guides/site_setup.md
  docs/product/architecture/module_interactions.md
  docs/product/architecture/public_api_documentation.md
  docs/product/architecture/tech_stack.png
  docs/product/architecture/technology.md
  docs/product/architecture/third_party_documentation.md
  docs/product/external_api_documentation.md
  setup.md
  tests/.gitkeep
Due: backend

docs: fix documentation display and update structure section
  docs/README.md
Due: none

docs: fix display issues in documentation table of contents
  docs/README.md
Due: none

Update README.md
  docs/README.md
Due: none

chore: Update package.json
  backend/package.json
Due: none

docs: Update README.md
  README.md
Due: none

refactor :Update database.js
  backend/src/config/database.js
Due: backend

test: Update logbook-schema.test.js
  backend/src/tests/logbook-schema.test.js
Due: backend

refactor :update Logbook.jsx
  frontend/src/pages/Logbook.jsx
Due: frontend

test: update Dashboard.test.jsx
  frontend/src/tests/Dashboard.test.jsx
Due: frontend

chore: update README.md
  docs/README.md
Due: none

feat: add GPS auto-detection for location/weather and fix distance tracking
  backend/TROUBLESHOOTING.md
  frontend/src/components/ActiveHike.jsx
  frontend/src/components/GoalForm.jsx
  frontend/src/components/NewHikeEntryForm.jsx
  frontend/src/components/NewHikePlanForm.jsx
  frontend/src/components/RouteExplorer.jsx
  frontend/src/components/RouteMap.jsx
  frontend/src/components/RouteMapModal.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/components/ui/navigation.jsx
  frontend/src/components/ui/profile-view.jsx
  frontend/src/components/ui/view-friend-profile.jsx
  frontend/src/pages/Logbook.jsx
  frontend/src/tests/ActiveHike.test.js
Due: frontend

refactor : update ActiveHike.jsx
  frontend/src/components/ActiveHike.jsx
Due: frontend

pages :update Logbook.jsx
  frontend/src/pages/Logbook.jsx
Due: frontend

fix: hide auto-generated waypoints and improve CORS handling
  backend/src/middleware/index.js
  frontend/src/components/ActiveHike.jsx
  frontend/src/components/RouteMapModal.jsx
  frontend/src/tests/ActiveHike.test.js
  frontend/src/tests/Dashboard.test.js
Due: frontend, backend

test : Update Dashboard.test.jsx
  frontend/src/tests/Dashboard.test.jsx
Due: frontend

Update logbook-schema.test.js
  backend/src/tests/logbook-schema.test.js
Due: backend

feat: redirect logged-in users to dashboard and enhance mobile responsiveness
  frontend/src/components/ActiveHike.jsx
  frontend/src/components/RouteMapModal.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Index.jsx
  frontend/src/tests/Dashboard.test.js
Due: frontend

fix: add userService mock for EditProfile test
  frontend/src/tests/pages2.smoke.test.jsx
Due: frontend

fix: improve GPS tracking to prevent false waypoints when stationary
  frontend/src/components/ActiveHike.jsx
Due: frontend

refactor : changing sctivity feeds logic
  frontend/package-lock.json
  package.json
Due: none

refactor : activity feed cards changed
  frontend/src/pages/Friends.jsx
  frontend/src/services/feed.js
Due: frontend

refactor : activity feed cards changed
  backend/src/routes/feed.js
  frontend/src/pages/Friends.jsx
  frontend/src/services/feed.js
Due: frontend, backend

refactor : activity feed cards changed
  backend/src/routes/feed.js
  frontend/src/pages/Friends.jsx
Due: frontend, backend

refactor : activity feed cards changed
  frontend/src/pages/Friends.jsx
Due: frontend

refactor: discover friends logic changed
  backend/src/routes/discover.js
Due: backend

refactor: my friends colors logic changed
  frontend/src/pages/Friends.jsx
Due: frontend
