Repository Hikers-for-life/Hiking-Logbook: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor: discover friends limits
  backend/src/routes/discover.js
  package.json
Due: backend

fix: resolve routeExplorerService test failures
  frontend/src/services/routeExplorerService.js
  frontend/src/tests/routeExplorerService.test.js
Due: frontend

chore: Update database.js
  backend/src/config/database.js
Due: backend

fix: resolve remaining ESLint errors in routeExplorerService
  frontend/src/services/routeExplorerService.js
Due: frontend

chore: Update HikePlanner.jsx
  frontend/src/pages/HikePlanner.jsx
Due: frontend

refactor: eye icon added to signup and login
  frontend/src/components/auth/loginPage.jsx
  frontend/src/pages/Signup.jsx
Due: frontend

refactor: eye icon added to signup and login
  backend/src/tests/FriendDiscover.js
  backend/src/tests/FriendFeed.js
Due: backend

test: discover.js testing in backend
  backend/src/tests/Discover.js
Due: backend

doc: Add security audit report for @ctrl/tinycolor package
  docs/security_audit_report_tinycolor.md
Due: none

docs: update API documentation link to production URL
  docs/product/architecture/public_api_documentation.md
Due: none

Update README.md
  README.md
Due: none

refactor: eye icon
  frontend/src/components/auth/loginPage.jsx
  frontend/src/pages/Signup.jsx
Due: frontend

docs: structure the documents
  docs/README.md
  docs/api.md
  docs/methodology/methodology.md
  docs/methodology/sprint1/backlog_refinement.md
  docs/methodology/sprint1/first_meeting.md
  docs/methodology/sprint1/second_meeting.md
  docs/methodology/sprint1/sprint_retrospective.md
  docs/methodology/sprint2/daily_standup.md
  docs/methodology/sprint2/daily_standup2.md
  docs/methodology/sprint2/sprint_planning.md
  docs/methodology/sprint2/sprint_retrospective.md
  docs/methodology/sprint2/sprint_retrospective2.md
  docs/methodology/sprint2/sprint_review.md
  docs/methodology/sprint3/daily_standup1.md
  docs/methodology/sprint3/daily_standup2.md
  docs/methodology/sprint3/daily_standup3.md
  docs/methodology/sprint3/daily_standup4.md
  docs/methodology/sprint3/daily_standup5.md
  docs/methodology/sprint3/daily_standup6.md
  docs/methodology/sprint3/daily_standup7.md
  docs/methodology/sprint3/daily_standup_integration_and_deployment.md
  docs/methodology/sprint3/sprint_planning.md
  docs/process/git-methodology.md
  docs/process/standards.md
  docs/process/strategy.md
  docs/security-audits/security_audit_report_npm_supply_chain.md
  docs/security-audits/security_audit_report_tinycolor.md
  docs/sprint1/backlog_refinement.md
  docs/sprint1/sprint_retrospective.md
  docs/sprint2/sprint_planning.md
  docs/sprint2/sprint_retrospective.md
  docs/sprint2/sprint_retrospective2.md
  docs/sprint2/sprint_review.md
  docs/sprint3/sprint_planning.md
Due: none

docs: structure documents
  package-lock.json
Due: none

docs: revise README for clarity and organization
  docs/README.md
Due: none

docs: Add project work tracker link to README
  docs/README.md
Due: none

docs: fix formatting issues in README.md
  docs/README.md
Due: none

refactor:discover page filtered well now
  backend/src/routes/discover.js
  frontend/src/components/ui/view-friend-profile.jsx
  frontend/src/pages/Friends.jsx
  frontend/src/services/discover.js
  frontend/src/tests/discoverService.js
Due: frontend, backend

eye icon now showing
  frontend/src/components/auth/loginPage.jsx
  frontend/src/pages/Signup.jsx
Due: frontend

test: discover.js testing
  frontend/src/services/discover.js
  frontend/src/tests/discoverService.js
  frontend/src/tests/discoverService.test.js
Due: frontend

Remove user stories and acceptance tests from methodology and put them in testing_strategy
  docs/methodology/methodology.md
Due: none

Add files via upload
  docs/methodology/sprint3/backlog_refinement.md
Due: none

Add files via upload
  docs/methodology/sprint3/sprint_retrospective.md
Due: none

Add files via upload
  docs/methodology/sprint3/sprint_review.md
Due: none

Add files via upload
  docs/methodology/sprint2/backlog_refinement.md
Due: none

Update Daily Standup 1 for Sprint 4
  docs/methodology/sprint4/daily_standup1.md
Due: none

Add files via upload
  docs/methodology/sprint4/daily_standup2.md
  docs/methodology/sprint4/final_submission_meeting.md
  docs/methodology/sprint4/sprint_planning.md
Due: none

Update README with Sprint 4 details
  docs/README.md
Due: none

Add files via upload
  docs/product/doc_structure.png
  docs/product/hiking_logbook_features.md
  docs/product/system_diagram.drawio.png
Due: none

Delete docs/doc_structure.png
  docs/doc_structure.png
Due: none

Delete docs/hiking_logbook_features.md
  docs/hiking_logbook_features.md
Due: none

Delete docs/system_diagram.drawio.png
  docs/system_diagram.drawio.png
Due: none

Add files via upload
  docs/product/testing_strategy.md
Due: none

Delete docs/testing_strategy.md
  docs/testing_strategy.md
Due: none

update
  docs/process/git-methodology.md
Due: none

Change version 1.0 status to Released
  docs/process/release.md
Due: none

Update strategy document with new formatting and content
  docs/process/strategy.md
Due: none

Refine note and streamline hike requirements
  docs/product/requirements.md
Due: none

Delete docs/product/testing.md
  docs/product/testing.md
Due: none

Path conditions:
  frontend: any of: frontend/src
  backend: any of: backend/src
