Repository Hikers-for-life/Hiking-Logbook: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: nearest
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 1%
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  frontend:
    paths:
      - frontend/src
  backend:
    paths:
      - backend/src

feat: boost backend coverage to 10.29% (+61%)
  backend/src/config/apiKeys.js
  backend/src/models/logbookSchema.js
  backend/src/tests/api-keys.test.js
  backend/src/tests/logbook-schema.test.js
  codecov.yml
Due: backend

refactor: add checklist utils that where removed
  backend/src/config/database.js
Due: backend

refactor: restructed the code
  frontend/src/pages/EditProfile.jsx
Due: frontend

Create api.md
  docs/api.md
Due: none

Update api.md
  docs/api.md
Due: none

docs: api
  docs/api.md
Due: none

fix: Update index.js changing limit on middleware
  backend/src/middleware/index.js
Due: backend

chore: Add weather API
  .github/workflows/deploy.yml
Due: none

Update profile-view.jsx
  frontend/src/components/ui/profile-view.jsx
Due: frontend

docs: change the names of people
  docs/sprint3/sprint_planning.md
Due: none

docs: daily standUp1
  docs/sprint3/daily_standup1.md
Due: none

docs: daily standUp2
  docs/sprint3/daily_standup2.md
Due: none

Create daily_standup3.md
  docs/sprint3/daily_standup3.md
Due: none

docs: daily standUp3
  docs/sprint3/daily_standup4.md
Due: none

Create daily_standup5.md
  docs/sprint3/daily_standup5.md
Due: none

docs: daily standUp5
  docs/sprint3/daily_standup6.md
Due: none

Create daily_standup.md
  docs/sprint3/daily_standup.md
Due: none

docs: daily standUp7
  docs/sprint3/daily_standup7.md
Due: none

docs: sprint review preparation
  docs/sprint3/integration_and_deployment.md
Due: none

tests: Added more tests to the code
  frontend/src/tests/Dashboard.test.js
  frontend/src/tests/Friends.test.js
  frontend/src/tests/GoalForm.targeted.test.js
  frontend/src/tests/GoalForm.test.js
  frontend/src/tests/HikePlanner.js
  frontend/src/tests/HikePlanner.test.js
  frontend/src/tests/Logbook.targeted.test.js
  frontend/src/tests/NotFound.test.js
  frontend/src/tests/ProgressCharts.targeted.test.js
  frontend/src/tests/ProtectedRoute.test.js
  frontend/src/tests/Signup.test.js
  frontend/src/tests/StatsOverview.targeted.test.js
  frontend/src/tests/discoverService.test.js
  frontend/src/tests/feature-section.test.js
  frontend/src/tests/feedService.test.js
  frontend/src/tests/friendService.test.js
  frontend/src/tests/friends-profile.test.js
  frontend/src/tests/gearService.test.js
  frontend/src/tests/hero-section.test.js
  frontend/src/tests/hikeApiService.test.js
  frontend/src/tests/pinnedHikes.test.js
  frontend/src/tests/profile-view.js
Due: frontend

docs: daily standUp
  docs/sprint3/daily_standup_integration_and_deployment.md
Due: none

Update userServices.js
  frontend/src/services/userServices.js
Due: frontend

Update view-friend-profile.jsx
  frontend/src/components/ui/view-friend-profile.jsx
Due: frontend

Update Friends.jsx
  frontend/src/pages/Friends.jsx
Due: frontend

chore: add line to code
  frontend/package.json
Due: none

chore: modified friends
  frontend/src/tests/Friends.js
Due: frontend

chore: modified code
  .github/workflows/ci.yml
  frontend/src/tests/Friends.js
Due: frontend

Update HikePlanner.jsx
  frontend/src/pages/HikePlanner.jsx
Due: frontend

Update friendService.js
  frontend/src/services/friendService.js
Due: frontend

chore: Removed unused dependecy
  frontend/src/pages/HikePlanner.jsx
Due: frontend

docs: Update docs
  docs/process/release.md
Due: none

Improve test coverage and consolidate coverage badge
  README.md
  backend/src/tests/dummytest.test.js
  backend/src/tests/simple.test.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/tests/achievementApiService.test.js
  frontend/src/tests/api.api.test.js
  frontend/src/tests/dropdown-menu.smoke.test.jsx
  frontend/src/tests/features-hero.smoke.test.jsx
  frontend/src/tests/friendService.test.js
  frontend/src/tests/gearUtils.test.js
  frontend/src/tests/goalsApiService.test.js
  frontend/src/tests/lib.utils.test.js
  frontend/src/tests/navigation.smoke.test.jsx
  frontend/src/tests/pages.interactions.test.jsx
  frontend/src/tests/pages.smoke.test.jsx
  frontend/src/tests/pages2.smoke.test.jsx
  frontend/src/tests/profile-dropdown.smoke.test.jsx
  frontend/src/tests/profile-view.smoke.test.jsx
  frontend/src/tests/progress.smoke.test.jsx
  frontend/src/tests/requestThrottle.test.js
  frontend/src/tests/routeExplorerService.test.js
  frontend/src/tests/statistics.test.js
  frontend/src/tests/statsOverview.smoke.test.jsx
  frontend/src/tests/timeUtils.test.js
  frontend/src/tests/toaster.smoke.test.jsx
  frontend/src/tests/ui.smoke.test.jsx
  frontend/src/tests/userService.test.js
  frontend/src/utils/requestThrottle.js
Due: frontend, backend

fix: correct navigation branding to 'Hiking Logbook'
  frontend/src/components/ui/navigation.jsx
  frontend/src/tests/navigation.smoke.test.jsx
Due: frontend

feat: implement real map visualization with Leaflet
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/RouteMap.jsx
  frontend/src/components/RouteMapModal.jsx
  frontend/src/mocks/leaflet.js
  frontend/src/mocks/react-leaflet.js
  frontend/src/tests/RouteMap.test.jsx
Due: frontend
