Repository Hikers-for-life/Hiking-Logbook: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: nearest
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 1%
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  frontend:
    paths:
      - frontend/src
  backend:
    paths:
      - backend/src

refactor: activity feeds
  backend/src/routes/feed.js
  frontend/src/App.js
  frontend/src/pages/Friends.jsx
  frontend/src/pages/Post.jsx
  frontend/src/services/feed.js
Due: frontend, backend

refactor: activity feeds pop up messages
  frontend/src/pages/Achievements.jsx
  frontend/src/pages/Friends.jsx
Due: frontend

Update api_setup.md
  docs/product/architecture/developer_guides/api_setup.md
Due: none

fix: gear management to gear checklist
  docs/product/architecture/database_documentation.md
Due: none

refactor: discver page
  backend/src/routes/discover.js
  frontend/src/components/ui/view-friend-profile.jsx
  frontend/src/pages/Friends.jsx
  frontend/src/services/discover.js
Due: frontend, backend

feat: message functionality
  backend/src/routes/chat.js
  backend/src/server.js
  firebase.json
  firestore.indexes.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/ui/chat-box.jsx
  frontend/src/components/ui/navigation.jsx
  frontend/src/components/ui/profile-dropdown.jsx
  frontend/src/components/ui/scroll-area.jsx
  frontend/src/components/ui/view-friend-profile.jsx
  frontend/src/pages/Friends.jsx
  frontend/src/pages/Messages.jsx
  frontend/src/services/chatService.js
  frontend/src/services/userServices.js
Due: frontend, backend

feat:implement message functionality
  .claude/settings.local.json
  frontend/src/pages/Friends.jsx
  frontend/src/tests/friends-profile.test.js
Due: frontend

refactor: discver page
  frontend/src/components/ui/view-friend-profile.jsx
  frontend/src/pages/Friends.jsx
Due: frontend

refactor: login and signup page
  backend/src/routes/auth.js
  backend/src/routes/users.js
  frontend/src/components/auth/loginPage.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/pages/Signup.jsx
  frontend/src/services/userServices.js
Due: frontend, backend

refactor: activity feeds add friend button when viewing a profile otherwise message button
  frontend/src/pages/Friends.jsx
Due: frontend

feat: added test for message functionality
  backend/src/routes/chat.js
  backend/src/tests/chat.test.js
  frontend/src/pages/Friends.jsx
  frontend/src/services/chatService.js
  frontend/src/tests/chat-box.test.jsx
  frontend/src/tests/chatService.test.js
  frontend/src/tests/scroll-area.test.jsx
  frontend/src/tests/userServices.test.js
Due: frontend, backend

Delete directory
  .claude/settings.local.json
Due: none

test: tests for ppost.jsx and updated feed.js
  package.json
Due: none

test: discoverService.test.js
  frontend/src/tests/ServiceDiscover.test.js
  frontend/src/tests/Signup.test.js
  frontend/src/tests/discoverService.test.js
  frontend/src/tests/friends-profile.test.js
  frontend/src/tests/loginFeature.test.js
Due: frontend

test: post.test.js
  frontend/src/tests/ServiceDiscover.test.js
  frontend/src/tests/ServiceFeed.test.js
  frontend/src/tests/post.test.js
Due: frontend

Fix: Update Friends.jsx
  frontend/src/pages/Friends.jsx
Due: frontend

fIX: Update Friends.jsx
  frontend/src/pages/Friends.jsx
Due: frontend

Update Friends.jsx
  frontend/src/pages/Friends.jsx
Due: frontend

fix: Update Friends.jsx
  frontend/src/components/ui/view-friend-profile.jsx
  frontend/src/pages/Friends.jsx
  frontend/src/tests/friends-profile.test.js
  package-lock.json
  package.json
Due: frontend

test: page2_smoke.test.jsx
  frontend/src/tests/pages2.smoke.test.jsx
Due: frontend

design: home-page
  frontend/src/components/hero-section.jsx
Due: frontend

chore: installation
  frontend/package-lock.json
  frontend/src/tests/Dashboard.test.js
  frontend/src/tests/friends-profile.test.js
  frontend/src/tests/hero-section.test.js
Due: frontend

fix: update index.js
  frontend/src/index.js
Due: frontend

chore: installation
  .husky/pre-commit
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/tests/Dashboard.test.js
  frontend/src/tests/friends-profile.test.js
  frontend/src/tests/hero-section.test.js
  package-lock.json
Due: frontend

feat: add invite friend to hike feacture
  backend/src/config/database.js
  backend/src/routes/hikeInvites.js
  backend/src/server.js
  backend/src/services/hikeInviteService.js
  frontend/src/components/FriendInviteDialog.jsx
  frontend/src/pages/HikePlanner.jsx
  frontend/src/pages/Messages.jsx
  frontend/src/services/hikeInviteService.js
Due: frontend, backend

test: fix hero section tests to match current structure
  frontend/src/tests/hero-section.test.js
Due: frontend

feat: replace React logo with mountain logo and remove mock data from profile view
  frontend/package-lock.json
  frontend/public/favicon-16x16.png
  frontend/public/favicon.ico
  frontend/public/favicon.svg
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/components/ui/view-friend-profile.jsx
Due: frontend

chore: modified the invite hike
  backend/src/config/database.js
  frontend/src/components/FriendInviteDialog.jsx
  frontend/src/pages/HikePlanner.jsx
Due: frontend, backend

add: recent achievements in dashboard
  frontend/src/components/RecentAchievements.jsx
  frontend/src/pages/Dashboard.jsx
Due: frontend

test: add tetsing for friendinvitedialog
  frontend/src/components/FriendInviteDialog.jsx
  frontend/src/tests/FriendInviteDialog.test.jsx
Due: frontend

check: is everything up to date
  frontend/src/App.js
  frontend/src/index.js
  frontend/src/pages/Signup.jsx
Due: frontend

test: add test for hikeInviteService
  frontend/src/tests/hikeInviteService.test.js
Due: frontend

chore: installation
  backend/package-lock.json
  frontend/package-lock.json
Due: none

add: current goals and recent achievements in profile
  frontend/src/components/ui/profile-view.jsx
Due: frontend

refactor: discover friends limits
  backend/src/routes/discover.js
  package.json
Due: backend

chore: fixed the inviteplanner
  backend/src/config/database.js
  frontend/src/pages/HikePlanner.jsx
Due: frontend, backend

feat: Create TrailExplorer page with search and filtering
  backend/src/routes/users.js
  frontend/env.example
  frontend/src/App.js
  frontend/src/components/NewHikePlanForm.jsx
  frontend/src/components/RouteExplorer.jsx
  frontend/src/components/StatsOverview.jsx
  frontend/src/components/ui/profile-view.jsx
  frontend/src/components/ui/users.js
  frontend/src/components/ui/view-friend-profile.jsx
  frontend/src/pages/Achievements.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Friends.jsx
  frontend/src/pages/HikePlanner.jsx
  frontend/src/pages/TrailExplorer.jsx
  frontend/src/services/routeExplorerService.js
  frontend/src/services/statistics.js
  frontend/src/tests/routeExplorerService.test.js
  frontend/src/tests/statistics.test.js
Due: frontend, backend

chore: deleted lines
  frontend/src/pages/HikePlanner.jsx
Due: frontend
